.page-header {
  margin-bottom: 1.5rem;
  
  h2 {
    margin: 0;
    font-weight: 500;
  }
}

.table-responsive-wrapper {
  overflow-x: auto;
  
  table {
    width: 100%;
    
    th, td {
      padding: 12px 16px;
    }
  }
}

mat-paginator {
  background-color: transparent;
}